*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body,html {
  height: 100%;
}

body{
  font-size: 100%;
  list-style-type: none;
  font-family: 'Montserrat';
}

main {
  height: 100%;
  width: 100%;
  background: url(../images/background-pattern.png) repeat #FFEEF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main .logo {
  margin-bottom: 20px;
}

h1 {
  color: #322B4E;
  font-size: 3em;
  max-width: 600px;
  margin: auto;
  line-height: 1em;
  margin-bottom: 20px;
}

h2 {
  max-width: 600px;
  margin: auto;
  color: #322B4E;
}

.proccess {
  background: white;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: 30px;
}

.proccess span:first-child {
  width: 80%;
  background-color: #322B4E;
  color: white;
  padding: 8px;
  text-align: left;
}

.proccess span:last-child {
  text-align: right;
  width: 20%;
  padding: 8px;
}

a {
  padding: 12px;
  text-transform: uppercase;
  background: #D2004C;
  color: white;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  font-family: Montserrat;
  margin: auto;
  margin-top: 20px;
  animation: ease-in-out zoom 0.5s infinite alternate;
  transition: all 0.2s;
  max-width: max-content;
  border-bottom: 3px solid #b80144;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

a:hover {
  animation: none;
  transform: scale(1.3);
}

a img {
  width: 20px;
  height: 20px;
}

@keyframes zoom {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}